<?xml version="1.0" encoding="ISO-8859-1"?>
<val:system xmlns:val="urn:www-iris-co-uk:system">
<message guid="" number="0" count="0" source="" destination="" flag="0" plugin="" datatype="0" desc="" xsl="" xsd="" startperiod="0" startyear="0" endperiod="0" endyear="0">
  <sysrec>
    <ssperiodsinyear/>
    <sscompanyname/>
    <sslastaudityr/>
    <ssmanupdreordercost/>
    <ssvatreturncurrency/>
    <sscostdecimals/>
    <ssshowstkpriceasmargin/>
    <sslivestockcosval/>
    <sssdnshowpickedonly/>
    <ssuselocations/>
    <sssetbomserno/>
    <sswarndupliyourref/>
    <ssuselocdeladdress/>
    <ssbudgetbyccdept/>
    <sscurrencytolerance/>
    <sscurrencytolerancemode/>
    <ssdebtchasemode/>
    <ssautogenvariance/>
    <ssautogendisc/>
    <sscompanycountrycode/>
    <sssalesdecimals/>
    <ssdebtchaseoverdue/>
    <sscurrentperiod/>
    <sscurrentyear/>
    <sstradeterm/>
    <ssseparatecurrencystatements/>
    <ssstatementagingmethod/>
    <ssstatementuseinvoicedate/>
    <ssquotesallocatestock/>
    <ssdeductbomcomponents/>
    <ssauthorisationmethod/>
    <ssuseintrastat/>
    <ssanalysedesconly/>
    <ssdefaultstockvalmethod/>
    <ssdisplayupdatecosts/>
    <ssautochequeno/>
    <ssstatementincnotdue/>
    <ssforcebatchtotalbalancing/>
    <ssdisplaystocklevelwarning/>
    <ssstatementnoteentry/>
    <sshidemenuopt/>
    <ssuseccdept/>
    <ssholdsettlementdisctransactions/>
    <sssettransperiodbydate/>
    <ssstopovercreditlimit/>
    <ssusesrcpayinref/>
    <ssusepasswords/>
    <ssprompttoprintreciept/>
    <ssexternalcustomers/>
    <ssqtydecimals/>
    <ssexternalsinentry/>
    <ssdisablepostingtopreviousperiods/>
    <sspercdiscounts/>
    <ssnumericaccountcodes/>
    <ssupdatebalanceonposting/>
    <ssshowinvoicedisc/>
    <sssplitdiscountsingl/>
    <ssdocreditstatuscheck/>
    <ssdocreditlimitcheck/>
    <ssautoclearpayments/>
    <sscurrencyratetype/>
    <ssshowperiodsasmonths/>
    <ssdirectcustomer/>
    <ssdirectsupplier/>
    <sssettlementdiscount/>
    <sssettlementdays/>
    <ssneedbomcostingupdate/>
    <ssinputpackqtyonline/>
    <ssdefaultvatcode/>
    <sspaymentterms/>
    <ssstatementageinginterval/>
    <sskeepquotedate/>
    <ssfreestockexcludessor/>
    <ssseparatedirecttranscounter/>
    <ssstatementshowmatchedinmonth/>
    <ssliveoldestdebt/>
    <ssbatchppy/>
    <ssdefaultbankgl/>
    <ssusedefaultbankaccount/>
    <ssyearstartdate/>
    <sslastauditdate/>
    <ssbanksortcode/>
    <ssbankaccountno/>
    <ssbankaccountref/>
    <ssbankname/>
    <sscompanyphone/>
    <sscompanyfax/>
    <sscompanyvatregno/>
    <sscompanyaddress>
      <sscompanyaddressline/>
    </sscompanyaddress>
    <ssdebtchasedays>
      <ssdebtchaseday/>
    </ssdebtchasedays>
    <sstermsoftrade>
      <sstermoftrade/>
    </sstermsoftrade>
    <sspickingorderallocatesstock/>
    <ssusedoskeys/>
    <sshideenterpriselogo/>
    <ssconservememory/>
    <ssprotectyourref/>
    <sssdndateistaxpointdate/>
    <ssautopostuplift/>
    <sswopdisablewip/>
    <ssworallocstockonpick/>
    <ssworcopystknotes/>
    <ssfilterbybinlocation/>
    <sskeepbinhistory/>
    <ssbinmask/>
    <sspostccnom/>
    <sspostccdcombo/>
    <ssstauidate/>
    <sspurchuidate/>
    <ssdefsrcbanknom/>
    <ssduplivsec/>
    <ssseprunpost/>
    <ssshowqtystree/>
    <ssuseglclass/>
    <sswarnjc/>
  </sysrec>
</message>
</val:system>
