-- All Bank Reconciliation Lines
SELECT [RecPfix]
      ,[SubType]
	  ,CAST(CONVERT(VARBINARY(4), REVERSE(SUBSTRING(varCode1, 2, 4))) AS INTEGER) AS IDX_brGLCode
	  ,CAST(SUBSTRING(varCode1, 6, 10) AS VARCHAR) AS IDX_brBankUserID
	  ,CAST(CONVERT(VARBINARY(4), REVERSE(SUBSTRING(varCode1, 20, 4))) AS INTEGER) AS IDX_brLineNo
	  ,CAST(CONVERT(VARBINARY(4), REVERSE(SUBSTRING(varCode3, 16, 4))) AS INTEGER) AS IDX_brIntRef
	  ,CAST(SUBSTRING(brPayRef, 2, 5) AS VARCHAR) AS IDX_brPayRef
      ,[BrPayRef]
      ,[BrLineDate]
      ,[BrMatchRef]
      ,[BrValue]
      ,[BrLineNo]
      ,[BrStatId]
      ,[BrStatLine]
      ,[BrCustCode]
      ,[BrPeriod]
      ,[BrYear]
      ,[brCompanyRate]
      ,[brDailyRate]
      ,[BrLUseORate]
      ,[brCurTriRate]
      ,[brCurTriEuro]
      ,[brCurTriInvert]
      ,[brCurTriFloat]
      ,[brCurSpare]
      ,[BrOldYourRef]
      ,[BrTransValue]
      ,[BrDepartment]
      ,[BrCostCentre]
      ,[BrNomCode]
      ,[BrSRINomCode]
      ,[BrFolioLink]
      ,[BrVATCode]
      ,[BrVATAmount]
      ,[BrTransDate]
      ,[BrIsNewTrans]
      ,[BrLineStatus]
      ,[Spare6]
      ,[BrYourRef]
  FROM [EXCH67].[ZZZZ01].[MLOCSTK]
  WHERE RecPfix = 'K' AND SubType = '2'