-- Authoris-e Users
SELECT [usCompany]
      ,[usUserID]
      ,[usUserName]
      ,[usEMail]
      ,[usFloorLimit]
      ,[usAuthName]
      ,[usSendOptions]
      ,[usDefaultApprover]
      ,[usDefaultAuthoriser]
FROM [common].[PAUSER]