-- Authoris-e Authorisers
SELECT [Company]
      ,[auName]
      ,[auMaxAuthAmount]
      ,[auEndAmountchar]
      ,[auEMail]
      ,[auAuthCode]
      ,[auAuthSQU]
      ,[auAuthPQU]
      ,[auAuthPOR]
      ,[auAuthPIN]
      ,[Active]
      ,[auApprovalOnly]
      ,[auCompressAttachments]
      ,[auDefaultAuth]
      ,[auAlternate]
      ,[auAltAfter]
      ,[auAltHours]
      ,[auDisplayEmail]
FROM [common].[PAAUTH]