-- Authoris-e Requests
SELECT [Company]
      ,[reEAR]
      ,[reOurRef]
      ,[reUserID]
      ,[reTimeStamp]
      ,[reTotalValue]
      ,[reStatus]
      ,[reApprovedBy]
      ,[reAuthoriser]
      ,[reFolio]
      ,[reDocType]
      ,[reSupplier]
      ,[reLineCount]
      ,[reCheckSum]
      ,[reApprovalDateTime]
      ,[reAdminNotified]
      ,[reAlreadySent]
      ,[rePrevDate]
FROM [common].[PAEAR]
