-- Authoris-e Global Settings
SELECT [spCompany]
      ,[spFrequency]
      ,[spAccountName]
      ,[spAccountPWord]
      ,[spEMail]
      ,[spAdminEMail]
      ,[spOfflineStart]
      ,[spOfflineFinish]
      ,[spEARTimeOut]
      ,[spPassword]
      ,[spServer]
      ,[spUseMapi]
FROM [common].[PAGLOBAL]