-- Authoris-E Companies
SELECT [company]
      ,[spauthsqu]
      ,[spauthpqu]
      ,[spauthpor]
      ,[spauthpin]
      ,[spsquform]
      ,[sppquform]
      ,[spporform]
      ,[sppinform]
      ,[spauthmode]
      ,[spallowprint]
      ,[spflooronpins]
      ,[spauthonconvert]
      ,[sppintolerance]
      ,[splastpincheck]
      ,[sppincheckinterval]
FROM [common].[PACOMP]