-- Bank Accounts
SELECT [RecPfix]
      ,[SubType]
      ,[BrAccNOM]
      ,[BrBankProd]
      ,[BrPayPath]
      ,[BrPayFileName]
      ,[BrRecFileName]
      ,[BrStatPath]
      ,[BrSwiftRef1]
      ,[BrSwiftRef2]
      ,[BrSwiftRef3]
      ,[BrSwiftBIC]
      ,[BrRouteCode]
      ,[BrChargeInst]
      ,[BrRouteMethod]
      ,[BrLastUseDate]
      ,[BrSortCode]
      ,[BrAccountCode]
      ,[BrBankRef]
      ,[BrBACSUserID]
      ,[BrBACSCurrency]
      ,[BrUserID2]
      ,[BrSortCodeEx]
      ,[BrAccountCodeEx]
FROM [ZZZZ01].[MLOCSTK]
WHERE RecPfix = 'K' AND SubType = '3'