-- Batch Payments Control records
SELECT [RecPfix]
      ,[SubType]
      ,[PositionId]
      ,EXCHQCHKcode1
      ,CAST(CONVERT(VARBINARY(4), REVERSE(SUBSTRING(EXCHQCHKcode1,3,4))) AS INTEGER) AS RunNo
      ,CAST(CONVERT(VARBINARY(4), BacsTagRunNo + SUBSTRING(EXCHQCHKcode3,12,1)) AS INTEGER) AS TagRunNo
      ,[PayType]
      ,[BACSBankNom]
      ,[PayCurr]
      ,[InvCurr]
      ,[CQStart]
      ,[AgeType]
      ,[AgeInt]
      ,[TagStatus]
      ,[TotalTag0]
      ,[TotalTag1]
      ,[TotalTag2]
      ,[TotalTag3]
      ,[TotalTag4]
      ,[TagAsDate]
      ,[TagCount]
      ,[TagDepartment]
      ,[TagCostCentre]
      ,[TagRunDate]
      ,[TagRunYr]
      ,[TagRunPr]
      ,[SalesMode]
      ,[LastInv]
      ,[SRCPIRef]
      ,[LastTagRunNo]
      ,[TagCtrlCode]
      ,[UseAcCC]
      ,[SetCQatP]
      ,[IncSDisc]
      ,[SDDaysOver]
      ,[ShowLog]
      ,[UseOsNdx]
      ,[BACSCLIUCount]
      ,[YourRef]
FROM [ZZZZ01].[EXCHQCHK]
WHERE RecPfix = 'X' AND SubType = ASCII('C')
