-- Currency History
SELECT [chDateChanged]
      ,[chTimeChanged]
      ,[chCurrNumber]
      ,[chDailyRate]
      ,[chCompanyRate]
      ,[chInvert]
      ,[chFloat]
      ,[chTriangulationNumber]
      ,[chTriangulationRate]
      ,[chDescription]
      ,[chSymbolScreen]
      ,[chSymbolPrint]
      ,[chUser]
FROM [ZZZZ01].[CurrencyHistory]