-- Tools Menu
SELECT [recordtype]
      ,[mifoliono]
      ,[miavailability]
      ,[micompany]
      ,[miitemtype]
      ,[midescription]
      ,[mifilename]
      ,[mistartdir]
      ,[miparameters]
      ,[mihelptext]
      ,[miallusers]
      ,[miallcompanies]
      ,[micomponentname]
      ,[miparentcomponentname]
      ,[miposition]
      ,[uxitemfolio]
      ,[uxusername]
      ,[ssusepassword]
      ,[sspassword]
      ,[cxitemfolio]
      ,[cxcompanycode]
FROM [common].[TOOLS]
