1 BITMAP WCALEND.BMP
2 BITMAP WCLOCK.BMP
3 BITMAP WCOND.BMP
4 BITMAP WEMAIL.BMP
5 BITMAP WMOBILE.BMP
6 BITMAP WPRIORTY.BMP
7 BITMAP WRECIP.BMP
8 BITMAP WREP.BMP
9 BITMAP WSTART.BMP
10 BITMAP WTYPE.BMP
11 BITMAP WREPOPT.BMP
12 BITMAP FINISH.BMP
13 BITMAP DATAFILE.BMP	
14 BITMAP FAX.BMP
15 BITMAP WWATCH.BMP
16 BITMAP EVENT.BMP