 
<!--#include virtual="http://www.exchequer.com/site/includes/inc_main.asp" -->
<html><!-- #BeginTemplate "/Templates/webrel.dwt" -->
<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Exchequer Enterprise - Award Winning Accounting Software</title>
<link rel="stylesheet" href="../Files/style.css" type="text/css">
<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
//-->
</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('../Files/navigation/site_index2.gif','../Files/structure/back_t_t2.gif')">
<p>&nbsp;</p>
<table width="780" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td width="10" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
    <td width="760" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
    <td width="10" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
  </tr>
  <tr> 
    <td width="10" bgcolor="eeeeee" valign="top">&nbsp;</td>
    <td width="760" valign="top"> 
        <table width="760" border="0" cellspacing="0" cellpadding="0">
            <tr> 
            <td valign="top"> 
                
            <table width="760" border="0" cellspacing="0" cellpadding="0">
              <tr valign="top"> 
                  <td><img src="../Files/TOPBAR1.GIF" width="760" height="42"></td>
              </tr>
            </table>
            </td>
        </tr>
        </table>
      <table width="760" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr> 
          <td width="130" valign="top" height="269" background="../Files/nav_background.gif"><img src="../Files/side.gif"><img src="../Files/grey_blend1.jpg"></td>
          <td rowspan="2" valign="top" width="30"> 
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
          <td rowspan="2" valign="top" width="537"> 
            <p>&nbsp;</p>
            <!-- #BeginEditable "Body%20Copy" --> 
            <p><img src="../Files/title_security.gif" width="537" height="22"> 
            <p> 
              <link rel="stylesheet" href="../Files/style.css" type="text/css">
            <table width="483" border="0" cellspacing="0" cellpadding="5">
              <tr> 
                <td width="205" class="title">{%capDealership%}</td>
                <td width="275" class="bodycopy" colspan="2">{%lblDealership%}</td>
              </tr>
              <tr> 
                <td width="205" class="title">{%capCustomer%}</td>
                <td width="275" class="bodycopy" colspan="2">{%lblCustomer%}</td>
              </tr>
              <tr> 
                <td width="205" class="title">{%capESN%}</td>
                <td width="275" class="bodycopy" colspan="2">{%lblESN%}</td>
              </tr>
              <tr> 
                <td width="205" class="title">{%capVersion%}</td>
                <td width="275" class="bodycopy" colspan="2">{%lblVersion%}</td>
              </tr>
              <tr> 
                <td width="205" class="title">{%lblDate%}</td>
                <td width="275" class="bodycopy" colspan="2">{%cbDate%}</td>
              </tr>
              <tr> 
                <td width="205" class="title">{%lblSendVia%}</td>
                <td width="140" class="bodycopy">{%cbEmail%}</td>
                <td width="135" class="bodycopy">{%cbSMS%}</td>
              </tr>
            </table>
            <table width="485" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td width="210">&nbsp</td>
                <td width="140" class="bodycopy">{%bnReturnMain%}</td>
                <td width="140" class="bodycopy">{%bnLogout%}</td>
              </tr>  
            </table>
            <p class="title">{%lblhdrPasswords%}</p>
            <table width="332" border="0" cellspacing="0" cellpadding="1">
              <tr> 
                <td width="200" class="title">{%lblPlugIn%}</td>
                <td width="140" class="bodycopy">{%bnPlugIn%}</td>
              </tr>
              <tr> 
                <td width="200" class="title">{%lblMCM%}</td>
                <td width="140" class="bodycopy">{%bnMCM%}</td>
              </tr>
              <tr> 
                <td width="200" class="title">{%lblDaily%}</td>
                <td width="140" class="bodycopy">{%bnDaily%}</td>
              </tr>
              <tr> 
                <td width="200" class="title">{%lblDirectors%}</td>
                <td width="140" class="bodycopy">{%bnDirectors%}</td>
              </tr>
            </table>
            <p>&nbsp;
            <table width="300" border="0" cellspacing="0" cellpadding="0" class="bodycopy">
              <tr> 
                <td width="100">{%img1%}</td>
                <td width="100">{%img2%}</td>
                <td width="100"> 
                  <p>{%img3%}</p>
                </td>
              </tr>
            </table>
            <p class="title">{%lblhdrSecurity%}</p>
            <table width="485" border="0" cellspacing="0" cellpadding="5">
              <tr> 
                <td width="10" class="title">{%lblResync%}</td>
                <td width="140" class="bodycopy">{%bnResync%}</td>
                <td width="140" class="bodycopy">{%bnInstructions%}</td>
              </tr>
              <tr>
                <td width="10" class="title">{%lblResetEnt%}</td>
                <td width="140" class="bodycopy">{%bnResetEnt%}</td>                
              </tr>
            </table>
            <p>&nbsp;</p><!-- #EndEditable --></td>
          <td rowspan="2" valign="top" width="63">&nbsp;</td>
        </tr>
        <tr> 
          <td width="130" valign="bottom" background="../Files/greybg.gif"><img src="../Files/site_wide_image.jpg" width="130" height="188"><br>
            <a href="http://www.exchequer.com" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','../Files/web_addr2.gif',1)"><img name="Image19" border="0" src="../Files/web_addr1.gif" width="130" height="21"></a><img src="../Files/end_marble.jpg" width="130" height="52"></td>
        </tr>
      </table>
    </td>
    <td width="10" valign="top" bgcolor="eeeeee">&nbsp;</td>
  </tr>
  <tr> 
    <td width="10" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
    <td width="760" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
    <td width="10" bgcolor="eeeeee" valign="top"><img src="../Files/zip_transparent.gif" width="10" height="10"></td>
  </tr>
  <tr>
    <td width="10" valign="top">&nbsp;</td>
    <td width="760" valign="top">
      <div align="center"> 
        <p class="copyright"><br>
          <font face="Arial, Helvetica, sans-serif" size="1" color="#999999">Exchequer 
          Software Ltd are members of BASDA, the Business Application Software 
          Developers Association &copy; 2003 Exchequer Software Ltd</font></p>
      </div>
    </td>
    <td width="10" valign="top">&nbsp;</td>
  </tr>
</table>

</body>
<!-- #EndTemplate --></html>
<!--#include virtual="http://www.exchequer.com/site/includes/inc_main_tidyup.asp" -->
