STRINGTABLE
BEGIN
  1,  "AUD"
  2,  "ATS"
  3,  "BEF"
  4,  "CAD"
  5,  "DKK"
  6,  "FIM"
  7,  "FRF"
  8,  "DEM"
  9,  "GRD"
  10, "IEP"
  11, "ITL"
  12, "JPY"
  13, "LUF"
  14, "MXN"                 
  15, "NLG"
  16, "NZD"
  17, "NOK"
  18, "PTE"
  19, "RUR"
  20, "ZAR"
  21, "ESP"
  22, "CHF"
  23, "GBP"
  24, "USD"
  25, "EUR"
END
