<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IExchequerPayments">
                <security mode="Transport" />
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.exchequer-payment-portal.com/ExchequerPayments.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchequerPayments"
        contract="PaymentServices.IExchequerPayments" name="BasicHttpBinding_IExchequerPayments" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="Url" value="https://www.exchequer-payment-portal.com/" />
    <add key="LastOurReference" value="2" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

<system.net>
  <defaultProxy useDefaultCredentials="true"/>
</system.net>
</configuration>

