/* vBulletin 3 CSS For Style 'Default Style' (styleid: 1) */

a:link
{
	color: #22229C;
	text-decoration: none;
}
a:visited
{
	color: #22229C;
	text-decoration: none;
}
a:hover, a:active
{
	color: #FF4400;
}
h1
{
	font: bold 13px tahoma;
}
.page
{
	background-color: #FFFFFF;
	color: #000000;
}
.tborder
{
	background-color: #C3D3E3;
	color: #000000;
	border: 1px solid #637B98;
}
.tcat
{
	background: #637B98 url(http://www.pcreview.co.uk/template/Table_Grad.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma;
}
.tcat a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.tcat a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}
.thead
{
	background: #637B98 url(http://www.pcreview.co.uk/template/Table_Grad.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma;
}
.thead a:link
{
	color: #FFFFFF;
}
.thead a:visited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active
{
	color: #FFFFFF;
}
.tfoot
{
	background: #637B98 url(http://www.pcreview.co.uk/template/Table_Grad.gif) repeat-x top left;
	color: #FFFFFF;
}
.tfoot a:link
{
	color: #FFFFFF;
}
.tfoot a:visited
{
	color: #FFFFFF;
}
.tfoot a:hover, .tfoot a:active
{
	color: #FFFFFF;
}
.alt1, .alt1Active
{
	background-color: #E0E9F1;
	color: #000000;
}
.alt2, .alt2Active
{
	background-color: #C3D3E3;
	color: #000000;
}
.wysiwyg
{
	background-color: #F5F5FF;
	color: #000000;
	font: 11px tahoma;
}
textarea, .bginput
{
	font: 11px tahoma;
}
.button
{
	font: 11px tahoma;
}
select
{
	font: 11px tahoma;
}
option, optgroup
{
	font-size: 11px;
	font-family: tahoma;
}
.smallfont
{
	font: 11px tahoma;
}
.normalfont
{
	font: 10pt tahoma;
}
.time
{
	color: #000000;
}
.navbar
{
	font: 11px tahoma;
}
.highlight
{
	color: #000000;
	font-weight: bold;
}
.fjsel
{
	background-color: #F1F1F1;
	color: #000000;
}
.fjdpth0
{
	background-color: #F7F7F7;
	color: #000000;
}
.panel
{
	background-color: #FCFCFC;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background-color: #F1F1F1;
	color: #000000;
}
legend
{
	color: #000000;
	font: 11px tahoma;
}
.vbmenu_control
{
	background: #637B98 url(http://www.pcreview.co.uk/template/Table_Grad.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background-color: #FFFFFF;
	color: #000000;
	font: 11px tahoma;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:visited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite
{
	background-color: #F1F1F1;
	color: #000000;
	font: 11px tahoma;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:visited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active
{
	color: #000000;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }